{% extends "base.html" %}

{% block title %}
Thermos -- welcome
{% endblock %}

{% block content %}

                <article>
                    <header>
                        <h1>welcome</h1>
                        <p>Thermos is a simple social bookmarking website. </p>
                        <p> Don't have an account? Create one by <a href="{{ url_for('auth.signup') }}">Signup </a></p>
                    </header>
                    <section>
                        <h2>Recently added</h2>
                        {% if new_bookmarks.count() > 0 %}
                            {% with bookmarks = new_bookmarks %}
                                {% include "bookmark_list.html" %}
                            {% endwith %}
                        {% else %}
                            No bookmarks have been added yet
                        {% endif %}
                    </section>
                </article>
{% endblock %}